flask~=1.1.4
wtforms~=2.3.3
werkzeug~=1.0.1
redis~=4.5.1
sqlalchemy~=1.4.46
markupsafe~=2.0.1
arrow~=0.13.2
peewee~=3.16.0
pymongo~=3.13.0
google~=3.0.0
geoalchemy2~=0.13.1
setuptools~=65.6.3
pillow~=9.4.0
pytest~=7.2.2
shapely~=1.5.9
wtf-peewee~=3.0.4
mongoengine~=0.21.0
jinja2~=2.11.3